@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  h1, h2, h3, h4 {
    @apply font-semibold text-slate-800;
  }
  p {
    @apply text-slate-600 leading-relaxed;
  }
  .drop-shadow-glow {
    filter: drop-shadow(0 0 8px rgba(250, 250, 210, 0.8));
  }

  @keyframes auroraShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .animate-aurora {
    background-size: 200% 200%;
    animation: auroraShift 20s ease infinite;
  }
  
  
}
